
#lgn{
    max-width: 500px;
    background-color: hsl(215,19%,26%);
    color: white;
    font-weight: bold;
    padding: 25px;
    margin: 10px;
    align-content: center;
    text-align: center;
    width: fit-content;
    height: auto;
    font-size: 2.5rem;
  
    
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: hsl(210,15%,96%);
}
input{
   font-size: 1.5rem;
   padding: 5px;
}
button{
    border: none;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 10px;
    text-align: center;
    width: 400px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
    background-color: hsl(217,91%,60%);
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2 ease, box-shadow 0.2 ease;
}

button:hover{
    background: #2563EB;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.4);

}